@font-face {
    font-family: Lato;
    src: url('$lib/assets/fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url('$lib/assets/fonts/Lato-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: Lato;
    color: white;
}

html {
    scroll-behavior: smooth;
}
/* idk why this applies it to the HTML, just messed around and it worked, don't touch it ig */